

:root {
    --black: #F5EFFF;
    --white: #1A1A1D;
    --primary: #3B1C32;
    --secondary: #6A1E55;
    --tertiary: #A64D79;
    --border: #3A3A40;
    --highlight: #FFDE4D;
    
    /* --bg-image: url('/Motion Background GIF by Trakto.gif'); */
    /* --bg-size: auto */

}

.float-right {
    margin-left: 200px;
}

body, html {
    font-family: "IBM Plex Serif", serif;
    color: var(--black);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-size: auto;
    background-size: var(--bg-size);
}

body.dark-mode {
    --black: #09122C;
    --white: #F5EFFF;
    --primary: #E5D9F2;
    --secondary: #CDC1FF;
    --tertiary: #A294F9;
    --border: lightgray;
    --highlight: #B2A5FF;
    /* --bg-image: url('/max-van-den-oetelaar-uymG7UVPXpI-unsplash.jpg'); */
    /* --bg-size: cover; */
}


.box {
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 20px 100px;
    margin: 50px;
    box-shadow: 0px 10px 30px -25px var(--highlight);
    width: fit-content;
}

.center {
    margin-left: auto;
    margin-right: auto;
}