

:root {
    --black: #F5EFFF;
    --white: #1A1A1D;
    --primary: #3B1C32;
    --secondary: #6A1E55;
    --tertiary: #A64D79;
    --border: #3A3A40;
    --highlight: #FFDE4D;

    --para_1:#3b1c32;
    --para_2: #644259;
    --para_3: #8f6a83;
    --para_4: #bc96af;
    --para_5: #ecc3de;
    --para_6: #F5E0EE;
    
    /* --bg-image: url('/Motion Background GIF by Trakto.gif'); */
    /* --bg-size: auto */

}

.float-right {
    margin-left: 200px;
}

body, html {
    font-family: "IBM Plex Serif", serif;
    color: var(--black);
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth
}

body {
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-size: auto;
    background-size: var(--bg-size);
}

body.dark-mode {
    --black: #09122C;
    --white: #F5EFFF;
    --primary: #E5D9F2;
    --secondary: #CDC1FF;
    --tertiary: #A294F9;
    --border: lightgray;
    --highlight: #B2A5FF;

    --para_1: #cdc1ff;
    --para_2: #ffbaf4;
    --para_3: #ffb6d2;
    --para_4: #ffc1a4;
    --para_5: #ffda7c;
    --para_6: #f9f871;
    /* --bg-image: url('/max-van-den-oetelaar-uymG7UVPXpI-unsplash.jpg'); */
    /* --bg-size: cover; */
}

@media  screen and (max-width: 650px) {
    .box {
        padding: 10px 20px !important;
        /* margin: 0px !important; */
    }
}

.box {
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 20px 100px;
    margin: 50px;
    box-shadow: 0px 10px 30px -25px var(--highlight);
    width: fit-content;
}

.center {
    margin-left: auto;
    margin-right: auto;
}